.jumbotron{
  	background-image: url(../img/banner.jpg);
  	background-size: 100% 100%;
	color: black;
	margin-top: 55px;
	margin-bottom: 40px%;
}

footer{
	background-color: yellow;
	margin-top: 5%;
	padding-top: 3%;
	padding-bottom: 3%;

}

.font-footer{
	font-size: 20px;
}

.cont-t1{
	max-width: 90%;
	background-color: whitesmoke;
}

.cont-t2{
	max-width: 87%;
	background-color: whitesmoke;
}

.cont-form-1{
	max-width: 90%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background-color: whitesmoke;
	border-width: 1px;
	border-color: #dbdbdb;
	border-style: solid;
}

.cont-f1{
	max-width: 100%;

}

.breadcrumb{
	background-color: whitesmoke;
}

.navbar{
	background-color: yellow;
}

.t-card{
	flex: 1;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-right: 2%;
	margin-left: 2%;
}

.bi-facebook{
	padding-right: 10px;
}

.bi-google{
	padding-right: 10px;
}

.bi-instagram{
	padding-right: 10px;
}

.bi-twitter{
	padding-right: 10px;
}

.t-contact{
	flex: 1;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-left: 7%;
}

.table-p{
	padding-left: 5%;
	padding-right: 5%;
}

.t-yellow{
	background-color: yellow;
	color: black;
}
